/*position: absolute;
  left: 0px;

  position: absolute;
  left: 200px ;
  top: 60px;
  display: inline-grid;*/

nav {
  background-color: #00a087;
  color: #e8fdff;
  height: 80px;
  position: fixed;
  z-index: 1000000;
  width: 100%;
  padding:0 2em 0 2em;

}

/* */
#nav-bar .logo {
  float: left;
  width: 80px;
  height: 80px;
  margin: 0 10px 0 0;
}

#nav-bar .header {
  float: left;
  color: white;
  line-height: 80px;
  font-size: 2em;

}

#compose-btn {
  width: 150px;
  font-size: 20px;
  height: 50px;
  opacity: .5;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;
  float: right;
  margin: 15px 0 0 0;
}

#compose-btn:hover {
  opacity: 1;
}
