/*main wrapper*/
section#all-tweets {
    width: 100%;
    height: 150px;
    max-width: 390px;
    margin: 20px auto;
}
/*main flex container*/
article.flex-container {
  display: flex;
  min-height: 150px;
  flex-wrap: wrap;
  flex-flow: column;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 3px;

}
/*flex container*/
header.header-flex {
  display: flex;
  height: 55px;
  background: #f5f5f5;
  justify-content: center;
}

header img {
  border-radius: 5px;
  height: 40px;
  width: 15%;
  margin: 5px 0 0 10px;
}

header h2 {
  color: gray;
  width: 80%;
  margin: 5px auto;
  padding-left: 10px
}

header h3 {
  color: gray;
  font-weight: normal;
  font-size: 12pt;
  align-content: center;
  margin-right: 10px;
  width: 20%;
}
/*flex container*/
div.tweet-body {
  display: flex;
  height: 65px;
}

div p {
  font-size: 13pt;
  flex-grow: 1;
  align-content: center;
  margin: 20px 0 0 10px;
}


/*flex-container*/
footer.footer-flex {
  display: flex;
  height: 30px;
  border-top: 1px solid #f5f5f5;
}

footer span.date {
  font-weight: normal;
  font-size: 10pt;
  margin: 8px 0 5px 5px;
}













